root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


[*.{js,json,rb,erb,scss,css}]
indent_size = 2

[*.{php,twig,yml}]
indent_size = 4
